@import '../../styles/variables.scss';

.menu {
  background-color: $header-bg-color;
  color: $white;
  padding: 0px 10px;

  .menu-nav {
    overflow-x: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
      display: none;
      /* Chrome, Safari, and Opera */
    }

    .menu-list {
      width: fit-content;
      list-style-type: none;
      padding: 0;
      margin: 0 auto;
      white-space: nowrap;

      .menu-item {
        display: inline-block;
        a {
          color: $white;
          font-weight: $font-weight-semibold;
          text-decoration: none;
          padding: 10px 15px;
          display: block;
          transition: color 0.3s, text-decoration 0.3s;

          &:hover {
            background-color: $black;
          }

        }

        &.active {
          a {
            background-color: $bluish-green;

            &:hover {
              background-color: $bluish-green;
            }
          }
        }
      }
    }
  }
}