// Colors
$background-color: #EFE9D5;
$header-bg-color: #27445D;
$white: #FFFFFF;
$black: #000000;
$bluish-green: #497D74;
$dark-gray: #1d2125;
$light-teal: #71BBB2;

// Font Sizes
$font-size-xsmall: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
// mobile
$font-size-mb-small: 12px;
$font-size-mb-medium: $font-size-xsmall;
$font-size-mb-large: 16px;
$font-size-mb-xlarge: $font-size-large;

// Font Weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;